{% include css/destyle.css %}

@import "hypertext/initialize";

ul.actions {
	li {
		margin-left: .5em;
	}
	li::before {
		content: "";
	}
	li ~ li {
		margin-top: .5em;
	}

	.button, button {
		width: 100%;
		display: block;
	}

	@include breakpoint($default-width) {
		text-align: center;

		li {
			display: inline-block;
		}
	}
}

ol {
	list-style: decimal;
	margin-left: 2em;
}

.demo {
	display: grid;
	margin-left: -25px;
	margin-right: -25px;
	grid-template-columns: repeat(1, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(1, auto);
	position: relative;
	max-width: 580px;

	img {
		display: block;
		grid-column: 1;
  	grid-row: 1;

  	&:nth-of-type(2) {
  		display: none;
  	}
	}

	& + ol {
		font-size: .95rem;
	}

	.tip {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		background-color: #292929;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 24px;
		font-size: 12px;
		color: #fff;

		&:nth-of-type(1) {
			left: 32%;
			top: 15%;
		}
		&:nth-of-type(2) {
			left: 54%;
			top: 15%;
		}
		&:nth-of-type(3) {
			left: 79%;
			top: 15%;
		}
		&:nth-of-type(4) {
			left: 70%;
			top: 30%;
		}
		&:nth-of-type(5) {
			left: 85%;
			top: 72%;
		}
	}
}
.-dark .demo .tip {
	background-color: #ffffff;
	color: #323346;
}
.-dark .demo img:nth-of-type(2) {
	display: block;
}
