{% include css/destyle.css %}

@import "hypertext/initialize";

ul.actions {
	li {
		margin-left: .5em;
	}
	li::before {
		content: "";
	}
	li ~ li {
		margin-top: .5em;
	}

	.button, button {
		width: 100%;
		display: block;
	}

	@include breakpoint($default-width) {
		text-align: center;

		li {
			display: inline-block;
		}
	}
}

ol {
	list-style: decimal;
	margin-left: 2em;
}

figure {
	position: relative;
	margin-top: 1em !important;
	max-width: 580px;

	img {
		display: block;
	}

	& + ol {
		font-size: .95rem;
	}

	.tip {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		background-color: #292929;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 24px;
		font-size: 12px;
		color: #fff;

		&:nth-of-type(1) {
			left: 36%;
			top: 17%;
		}
		&:nth-of-type(2) {
			left: 60%;
			top: 17%;
		}
		&:nth-of-type(3) {
			left: 87%;
			top: 17%;
		}
		&:nth-of-type(4) {
			left: 85%;
			top: 30%;
		}
		&:nth-of-type(5) {
			left: 97%;
			top: 73%;
		}
	}
}
