root = true

[*]
max_line_length = off
insert_final_newline = true
trim_trailing_whitespace = true

[*.{vala,vapi}]
indent_style = tab
indent_size = 4

[*.{ui,xml,svg}]
indent_style = tab
indent_size = 3

[*.{css}]
indent_style = tab
indent_size = 2
