button, .button {
	cursor: pointer;
	line-height: 1;
	appearance: none;
	padding: .6em 1em;
	font-weight: 600;
	font-size: 15px;
	text-decoration: none;
	background: #fbfbfb;
	border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #e5e5e5;
	text-shadow: none;
	border-radius: 6px;

    &:hover {
        background: #f6f6f6;
    }

    &:active {
        border-bottom: 1px solid #e5e5e5;
        background: #f5f5f5;
        color: #777777;
    }

	&.default {
		color: #fff;
        background: #0067c0;
        border-top: 1px solid #0067c0;
        border-right: 1px solid #0067c0;
        border-bottom: 1px solid #003e73;
        border-left: 1px solid #0067c0;

        &:hover {
            background: #1975c5;
            border-top: 1px solid #1975c5;
            border-right: 1px solid #1975c5;
            border-bottom: 1px solid #0f4676;
            border-left: 1px solid #1975c5;
        }

        &:active {
            color: #c2daef;
            background: #3183ca;
            border-top: 1px solid #3183ca;
            border-right: 1px solid #3183ca;
            border-bottom: 1px solid #3183ca;
            border-left: 1px solid #3183ca;
        }
	}

    &:focus {
		outline: none;
		//box-shadow: 0 0 0 4px #C3E2F9;
	}

    &:focus-visible {
        outline: 2px solid black;
        outline-offset: 2px;
    }
}
.button.-with-icon svg {
	width: 16px;
	vertical-align: middle;
	margin-right: 4px;
}
