main {
	padding: 25px 25px 50px;
}

aside {
	background-color: #EFF2F5;
	padding: 25px;
}

@include breakpoint($lg) {
	nav {
		text-align: right;
		margin-bottom: 10%;
	}

	aside {
		position: fixed;
		width: 50%;
		height: 100%;
		left: 50%;
		padding: 200px 50px 25px 25px;
	}

	main {
		width: 50%;
		padding: 100px 25px 50px 50px;

		> div {
			margin-left: auto;
		}
	}

	main > div, aside > div {
		max-width: 800px;
	}
}

table.shortcuts {
	text-align: center;

	th {
		text-align: center;
		padding-bottom: .5em;
		color: #2D3741;
	}

	td:first-of-type {
		text-align: right;
		padding-right: 1em;
		color: #2D3741;
		font-weight: 600;
	}

	tr + tr td {
		padding-top: .5em;
		padding-bottom: .5em;
		border-top: 1px solid #EFF2F5;
	}
	td:nth-of-type(2) ~ td {
		padding-left: .5em;
	}
	tr:nth-of-type(2) td {
		border-width: 2px;
	}

	svg {
		width: 16px;
		vertical-align: middle;
	}

	kbd {
		white-space: nowrap;
	}

	kbd + kbd {
		position: relative;
		margin-left: 6px;
		padding-left: 12px;

		&::before {
			position: absolute;
			content: "";
			width: 16px;
			height: 16px;
			background-color: #DEE1E4;
			left: -8px;
			top: calc(50% - 8px);
			border-radius: 50%;
			border: 2px solid #fff;
		}

		&::after {
			position: absolute;
			content: "";
			height: 4px;
			width: 8px;
			background: #DEE1E4;
			left: 0;
			top: calc(50% - 2px);
			transform: translateX(-100%);
		}
	}
}
