body, input, select, textarea {
	font-family: "ClearSansScreen-Bk", "Segoe UI", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $font-color-dark;
	hyphens: auto;

	&.-dark {color: #f6f6f6; }
}

strong, b, .text--strong {
	font-family: "ClearSansScreen-Md", sans-serif;
	font-weight: 400;
}
.-dark strong, .-dark b, .-dark .text--strong {color: white; }

em, i {
	font-family: "ClearSansScreen-BkIt", sans-serif;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ClearSansScreen-Md", sans-serif;
	font-weight: 400;
	color: #484848;
}
h1 {
	font-size: 2rem;

	& + p {
		font-size: 1.2rem;
		margin-top: 1em !important;
	}
}

a {
	transition: color .2s $easing;
	color: inherit;
}
.colored-links a {
	color: $blue-hue-1;
	&:hover {color: lighten($blue-hue-1, 10); }
}

img, video {max-width: 100%; }
video {display: block; }

ul.actions {
	li ~ li {
		margin-top: .5em;
	}

	.button, button {
		width: 100%;
		display: block;
	}

	@include breakpoint($sm) {
		text-align: center;

		li {
			display: inline-block;
		}
	}
}

ol {
	list-style: decimal;
	margin-left: 2em;
}
