.container {
	max-width: 800px;
}

header, article > *:not(figure), footer, section {
	padding-left: 25px;
	padding-right: 25px;
}

header {
	padding-top: 25px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	@include breakpoint(600px) {
		padding-top: 50px;
	}
}

figure {
	position: relative;
	margin-top: 1em !important;
	margin-left: auto;
	margin-right: auto;
	max-width: 580px;

	img {
		display: block;
	}

	& + ol {
		font-size: .95rem;
	}

	.tip {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		background-color: #292929;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		text-align: center;
		line-height: 26px;
		font-size: 12px;
		color: #fff;

		&:nth-of-type(1) {
			left: 33%;
			top: 12%;
		}
		&:nth-of-type(2) {
			left: 50%;
			top: 12%;
		}
		&:nth-of-type(3) {
			left: 77%;
			top: 12%;
		}
		&:nth-of-type(4) {
			left: 70%;
			top: 30%;
		}
		&:nth-of-type(5) {
			left: 85%;
			top: 72%;
		}
	}
}

footer {
	color: $text-pale;
	padding-bottom: 25px;
	font-size: .95rem;
}
