.stage-shadow {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 24, 0, 0, 0);
	-fx-background-insets: 24;
	-fx-padding: 24;
	-fx-background-radius: 2px;
}

.tooltip {
	-fx-background-color: #F2F2F2;
	-fx-background-radius: 4px;
	-fx-border-color: #D1D1D1;
	-fx-border-radius: 4px;
	-fx-text-fill: #000000;
	-fx-padding: 4px 8px;
	-fx-font-size: 12px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
}

.slider .track {
	-fx-background-color: #999999;
	-fx-max-height: 2px;
	-fx-pref-height: 2px;
}
.slider:hover .track {
	-fx-background-color: #666666;
}
.slider:pressed .track {
	-fx-background-color: #999999;
}
.slider .thumb {
	-fx-background-color: #429CE3, #0078D7;
	-fx-background-insets: 0, 0;
}
.slider:focused .thumb {
	-fx-background-insets: 0, 1;
}
.slider:hover .thumb {
	-fx-background-color: #429CE3;
}
.slider:pressed .thumb {
	-fx-background-color: #005A9D;
}

.check-box .box {
	-fx-background-color: #767676, #ffffff;
	-fx-background-insets: -1px, 0;
	-fx-background-radius: 2px, 2px;
	-fx-pref-width: 14px;
	-fx-pref-height: 14px;
}
.check-box .box .mark {
	-fx-background-color: none;
	-fx-scale-shape: false;
	-fx-shape: "M12.151,3.151L5,10.302L1.849,7.151L1,8L5,12L13,4L12.151,3.151Z";
	-fx-background-insets: 0;
	-fx-padding: 0;
}
.check-box:hover .box {
	-fx-background-color: #333333, #ffffff;
}
.check-box:focused .box {
	-fx-background-color: #429CE3, #ffffff
}
.check-box:pressed .box {
	-fx-background-color: #000000, #999999;
}
.check-box:selected .box .mark {
	-fx-background-color: #ffffff;
	-fx-scale-shape: false;
}
.check-box:selected .box {
	-fx-background-color: #0078D7, #0078D7;
}
.check-box:selected:focused .box {
	-fx-background-color: #429CE3, #0078D7;
}
.check-box:selected:hover .box {
	-fx-background-color: #429CE3, #429CE3;
}
.check-box:selected:pressed .box {
	-fx-background-color: #005A9E, #005A9E;
}

.context-menu {
	-fx-background-color: #e8e8e8;
	-fx-text-fill: black;
	-fx-border-radius: 4px;
	-fx-background-radius: 4px;
	-fx-border-color: #c8c8c8;
	-fx-border-width: 1px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.0, 0.0, 1.0);
	-fx-padding: 0.333333em 0 0.333333em 0;
}
.context-menu .menu-item {
	-fx-padding: 0.666666em 0.41777em 0.666666em 0.41777em;
}
.context-menu .menu-item .label {
	-fx-padding: 0em 0.5em 0em 4px;
}
.context-menu .menu-item:focused {
	-fx-background-color: #c6c6c5;
	-fx-focused-mark-color: #000000;
}
.context-menu .menu-item:focused > .label {
	-fx-text-fill: #000000;
}
.context-menu .check-menu-item .left-container {
	-fx-background-color: #ffffff;
	-fx-border-color: #c8c8c8;
	-fx-border-width: 1px;
	-fx-padding: 8px;
}
.context-menu .check-menu-item:checked .check {
	-fx-shape: "M12.151,3.151L5,10.302L1.849,7.151L1,8L5,12L13,4L12.151,3.151Z";
	-fx-background-insets: 0;
}

.window-controls .button {
	-fx-border-radius: 0 0 0 0;
	-fx-background-color: #429CE3, #f7f7f7;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}
.window-controls .button:focused {
	-fx-background-insets: 0, 1px;
}
.window-controls .close-button {
	-fx-background-radius: 0 2px 0 0;
}
.window-controls .close-button .text {
	-fx-fill: #000000;
}
.window-controls .button:hover {
	-fx-background-color: #429CE3, #eaeaea;
}
.window-controls .button:focused:hover {
	-fx-background-insets: 0, 1px;
}
.window-controls .button:hover > .text {
	-fx-fill: #000000;
}
.window-controls .close-button:hover {
	-fx-background-color: #e81123;
}
.window-controls .close-button:hover > .text {
	-fx-fill: #ffffff;
}
.window-controls .button:pressed {
	-fx-background-color: #cacacb;
}
.window-controls .close-button:pressed {
	-fx-background-color: #f1707a;
	-fx-fill: #000000;
}
.window-controls .close-button:pressed .text {
	-fx-fill: #000000;
}
.is-always-on-top .window-controls .top-button {
	-fx-background-color: #429CE3, #62b6f8;
}
.is-always-on-top .window-controls .top-button:focused {
	-fx-background-insets: 0, 1px;
}
.is-always-on-top .window-controls .top-button > .text {
	-fx-fill: #ffffff;
}

.paletti-no-focus .window-controls .button > .text {
	-fx-fill: #999999;
}
.paletti-no-focus .window-controls .button:hover > .text {
	-fx-fill: #000000;
}
.paletti-no-focus .window-controls .close-button:hover > .text {
	-fx-fill: #ffffff;
}
.paletti-no-focus.is-always-on-top .window-controls .top-button > .text {
	-fx-fill: #ffffff;
}

.droparea {
	-fx-background-color: #ffffff;
	-fx-border-radius: 5px;
	-fx-border-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 5px;
	-fx-border-width: 1px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 0, 0);
}
.droparea .droparea-icon .text {
	-fx-fill: rgba(0, 0, 0, .2);
}
.droparea:hover {
	-fx-border-color: #1D9EF3;
}
.droparea:hover .droparea-icon .text {
	-fx-fill: #1D9EF3;
}

.color-tile .label .text {
	-fx-fill: transparent;
}
.color-tile.has-color:hover .label .text {
	-fx-fill: rgba(0, 0, 0, .5);
}

.resize-icon {
	-fx-opacity: 0;
}
.stage-shadow .resize-icon {
	-fx-opacity: .2;
}
.resize-pane {
	-fx-background-color: transparent;
}
.stage-shadow .resize-pane {
	-fx-cursor: se_resize;
}
