.tooltip {
	-fx-background-color: #FAF7F5;
	-fx-background-image: url("noise.png");
	-fx-background-radius: 4px;
	-fx-border-color: rgba(0, 0, 0, 0.1);
	-fx-border-radius: 4px;
	-fx-text-fill: #000000;
	-fx-padding: 6px 10px 7px 10px;
	-fx-font-size: 12px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 2);
}

.slider .track {
	-fx-background-color: #868686;
	-fx-max-height: 3px;
	-fx-pref-height: 3px;
}
.slider .thumb {
	-fx-background-color: transparent, #e5e5e5, #ffffff, #005A9E;
	-fx-background-insets: -8px, -6px, -5px, 0;
	-fx-max-width: 10px;
	-fx-pref-width: 10px;
	-fx-max-height: 10px;
	-fx-pref-height: 10px;
	-fx-effect: none;
}
.slider:focused .thumb {
	-fx-background-color: #6d9df77f, #e5e5e5, #ffffff, #005A9E;
}
.slider:hover .thumb {
	/* Is being changed programmatically */
}
.slider:focused:hover .thumb {
	-fx-background-color: #6d9df77f, #e5e5e5, #ffffff, #005A9E;
}
.slider:pressed .thumb {
	/* Is being changed programmatically */
}
.slider:focused:pressed .thumb {
	-fx-background-color: transparent, #e5e5e5, #ffffff, #337AAF;
}

.check-box .box {
	-fx-background-color: transparent, #858585, #ededed;
	-fx-background-insets: -3px, -1px, 0;
	-fx-background-radius: 6px, 4px, 4px;
	-fx-pref-width: 18px;
	-fx-pref-height: 18px;
}
.check-box .box .mark {
	-fx-background-color: none;
	-fx-scale-shape: false;
	-fx-shape: "M2.128,9.499L7.036,14.415L15.824,5.627L14.409,4.213L7.037,11.585L3.543,8.086L2.128,9.499Z";
	-fx-background-insets: 1px;
	-fx-padding: 0;
}
.check-box:focused .box {
	-fx-background-color: #6d9df77f, #858585, #ededed;
}
.check-box:hover .box {
	-fx-background-color: transparent, #838383, #e5e5e5;
}
.check-box:focused:hover .box {
	-fx-background-color: #6d9df77f, #838383, #e5e5e5;
}
.check-box:pressed .box {
	-fx-background-color: transparent, #b6b6b6, #dcdcdc;
}
.check-box:focused:pressed .box {
	-fx-background-color: transparent, #b6b6b6, #dcdcdc;
}
.check-box:selected .box .mark {
	-fx-background-color: #ffffff;
	-fx-scale-shape: false;
}
.check-box:selected .box {
	-fx-background-color: transparent, #005A9E, #005A9E;
}
.check-box:selected:focused .box {
	-fx-background-color: #6d9df77f, #005A9E, #005A9E;
}
.check-box:selected:hover .box {
	-fx-background-color: transparent, #196AA7, #196AA7;
}
.check-box:selected:focused:hover .box {
	-fx-background-color: #6d9df77f, #196AA7, #196AA7;
}
.check-box:selected:pressed .box {
	-fx-background-color: transparent, #1D6CA8, #3179AF;
}
.check-box:selected:focused:pressed .box {
	-fx-background-color: transparent, #1D6CA8, #3179AF;
}
.check-box:selected:pressed .box .mark {
	-fx-background-color: #B8D1E4;
}

.context-menu {
	-fx-background-color: #f8f8f8;
	-fx-background-image: url("noise.png");
	-fx-text-fill: black;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-border-color: #00000022;
	-fx-border-width: 1px;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.0, 0.0, 1.0);
	-fx-padding: 0.333333em;
}
.context-menu .menu-item {
	-fx-font-size: 14px;
	-fx-padding: 5px 8px 4px 8px;
}
.context-menu .menu-item .label {
	-fx-padding: 0em 0.5em 0em 4px;
}
.context-menu .menu-item:focused {
	-fx-background-color: rgba(0, 0, 0, 0.04);
	-fx-background-radius: 5px;
	-fx-focused-mark-color: #000000;
}
.context-menu .menu-item:focused > .label {
	-fx-text-fill: #000000;
}
.context-menu .menu-item:pressed {
	-fx-background-color: rgba(0, 0, 0, 0.02);
}
.context-menu .check-menu-item:checked .check {
	-fx-shape: "M4.335,7.037L1.53,4.232L1,4.762L4.335,8.098L11,1.433L10.47,0.902L4.335,7.037Z";
	-fx-background-insets: 0;
}

.header-bar {
	-fx-padding: 8px 6px 7px 6px;
	-fx-border-color: #E4DEDD;
	-fx-border-width: 0 0 1px 0;
}
.header-bar .button,
.header-bar .toggle-button {
	-fx-border-radius: 5px 5px 5px 5px;
	-fx-background-color: transparent transparent;
	-fx-pref-width: 40px;
	-fx-max-width: 40px;
	-fx-max-height: 36px;
	-fx-pref-height: 36px;
	-fx-border-color: transparent;
	-fx-border-width: 2px;
	-fx-border-insets: -3px -3px -3px -3px;
}
.header-bar .button:focused,
.header-bar .toggle-button:focused {
	-fx-border-color: #6d9df77f;
}
.header-bar .button:hover,
.header-bar .toggle-button:hover {
	-fx-background-color: #EFE8E7;
}
.header-bar .button:focused:hover,
.header-bar .toggle-button:focused:hover{
	-fx-background-color: #EFE8E7;
}
.header-bar .button:pressed,
.header-bar .toggle-button:pressed{
	-fx-background-color: #F2EBE9;
}
.header-bar .button:focused:pressed,
.header-bar .toggle-button:focused:pressed{
	-fx-border-color: transparent;
	-fx-background-color: #F2EBE9;
}
.header-bar .toggle-button:selected {
	-fx-background-color: #0067C0;
}
.header-bar .toggle-button:selected:hover {
	-fx-background-color: #1975C5;
}
.header-bar .toggle-button:selected > .text {
	-fx-fill: #ffffff;
}
.header-bar > .header-border {
	-fx-pref-width: 9px;
	-fx-max-width: 9px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-background-color: #E9E3E1;
	-fx-background-insets: 0 4px 0 4px;
}

.paletti-no-focus .header-bar .button > .text {
	-fx-fill: #999999;
}
.paletti-no-focus .header-bar .button:hover > .text {
	-fx-fill: #000000;
}
.paletti-no-focus .header-bar .close-button:hover > .text {
	-fx-fill: #ffffff;
}
.paletti-no-focus.is-always-on-top .header-bar .top-button > .text {
	-fx-fill: #ffffff;
}

.droparea {
	-fx-border-radius: 5px;
	-fx-border-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 5px;
	-fx-border-width: 1px;
}
.droparea .droparea-icon .text {
	-fx-fill: rgba(0, 0, 0, .2);
}
.droparea:hover {
	-fx-border-color: #1D9EF3;
}
.droparea:hover .droparea-icon .text {
	-fx-fill: #1D9EF3;
}

.color-palette {
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: #E4DEDD;
	-fx-background-radius: 0 0 2px 2px;
	-fx-background-color: #fbf8f8
}
.color-tile .label .text {
	-fx-fill: transparent;
}
.color-tile.has-color:hover .label .text {
	-fx-fill: rgba(0, 0, 0, .5);
}

.mono-toggle {
	-fx-padding: 0 0 0 16px;
}

.color-slider {
	-fx-padding: 0 0 0 8px;
}
